.outterDivlogin{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 30%;
    margin: auto;
    padding: 5% 10%;
    margin-top: 10px;
    border-radius: 10%;
}
.loginBtn{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 10px;
    padding: 10px;
}
.loginSubmit{
    padding: 10px 20px;
    border: 2px solid ;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    background-color: burlywood;
}